.material-item {
  border: 2px solid black;
  width: 23%;
  margin: 1%;
  padding: 20px;
  .material-information-headline {
    color: grey;
  }

  h1 {
    margin-top: 0px;
    margin-bottom: 5px;
  }

  .material-uuid {
    color: grey;
    margin-top: 20px;
  }

  .material-description {
    margin-bottom: 10px;
  }
}